<%
var close_btn_class = '';
if(_.c('fangate_pagetab_closebutton') === "0" && _.aa.env.base !== 'website') {
    close_btn_class = 'hide';
}
%>

<div class="modal fade" id="fangateModal">
    <div class="modal-dialog <% if(_.c('fangate_fullscreen') === '1'){print('fangate-fullscreen');}%>">
        <div class="modal-content">
            <div class="modal-header">
                <% if(_.c('mod_fangate_closable') === "1") { %>
                <button type="button" class="close closemodel" data-dismiss="modal" aria-hidden="true">&times;</button>
                <% } %>
            </div>
            <div class="modal-body">
                <%=_.c('mod_fangate_content') %>

                <div class="social-button">
                    <% if(_.c('fangate_social_networks').indexOf("fb") !== -1) { %>
                    <div class="fb-like fangate_btn_facebook fangate_btn" data-href="<%- _.aa.instance.fb_page_url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false" data-locale="<%- _.t('share_lang') %>"></div>
                    <% }

                    if(_.c('fangate_social_networks').indexOf("gplus") !== -1 && _.c('share_googleplus_id') !== '') { %>
                    <div id="fangate_btn_google" class="fangate_btn_google fangate_btn <%= close_btn_class %>">
                        <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/<%- _.c('share_googleplus_id') %>" data-rel="author"></div>
                    </div>
                    <% }

                    if(_.c('fangate_social_networks').indexOf("twitter") !== -1 &&
                    _.c('share_twitter_id') !== '') { %>
                    <div class="fangate_btn fangate_btn_twitter <%= close_btn_class %>">
                        <a href="https://twitter.com/<%- _.c('share_twitter_id')%>" class="twitter-follow-button" data-show-count="true" data-lang="<%- _.t('share_lang') %>">@<%= _.c('share_twitter_id') %><%= _.t('follow') %></a>
                    </div>
                    <% }%>
                </div>
            </div>
            <% if(_.c('mod_fangate_closable') === "1") { %>
            <div class="modal-footer">
                <a href="#" class="closemodel <%= close_btn_class %>" data-dismiss="modal"><%= _.t('close_fangate') %></a>
            </div>
            <% } %>
        </div>
    </div>
</div>